.track_item {
	padding: 10px;
	border-radius: 10px;
	border: 4px solid darkgrey;
	width: fit-content;
}

.track_title {
	font-size: 20px;
	font-weight: 600;
	line-height: 32px;
}

.selected {
	border-color: lightgreen;
}