.track_info {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 500px;
	padding: 10px;
	min-height: 100px;
	height: fit-content;
	border: 2px solid darkgrey;
	border-radius: 10px;
}
.track_info h4 {
	line-height: 2rem;
}
.track_info_title {
	margin-top: 10px;
	font-size: 1.2rem;
}